{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}
    Cadastro de Empresas
{% endblock 'titulo' %}

{% block 'conteudo' %}
    <div class="card p-2 card-top">
        <h5 class="card-title h5 text-white">
            <i class="fas fa-chart-line"></i>
            EMPRESAS
        </h5>
    </div>

    {% include 'messages_alert.html' %}

    <div class="row p-3">
        <div class="col-12">
            <form method="post" action="{% url 'cadastra_empresa' %}" class="row w-100 border p-3">
                {% csrf_token %}
                <div class="col-md-6">
                  <label for="razao_social" class="form-label">Razão Social</label>
                  <input type="text" class="form-control form-control-sm" id="razao_social" name="razao_social">
                </div>
                <div class="col-md-6">
                  <label for="cnpj" class="form-label">CNPJ</label>
                  <input type="cnpj" class="form-control form-control-sm" id="cnpj" name="cnpj">
                </div>
                <div class="col-3">
                  <label for="ramo" class="form-label">Ramo</label>
                  <input type="text" class="form-control form-control-sm" id="ramo" name="ramo">
                </div>
                <div class="col-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control form-control-sm" id="email" name="email">
                </div>
                <div class="col-3">
                    <label for="telefone" class="form-label">Telefone</label>
                    <input type="text" class="form-control form-control-sm foneInput" id="telefone" name="telefone">
                </div>
                <div class="col-3">
                  <label for="tem_zap" class="form-label">Tem Whatsapp?</label>
                  <select name="tem_zap" id="tem_zap" class="form-control form-control-sm">
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                  </select>
                </div>
                <div class="col-6">
                    <label for="cnae_principal" class="form-label">CNAE Principal</label>
                    <input type="text" class="form-control form-control-sm" id="cnae_principal" name="cnae_principal
                    cnae_principal">
                </div>
                <div class="col-6">
                    <label for="cnae_secundario" class="form-label">CNAE Secundários</label>
                    <input type="text" class="form-control form-control-sm" id="cnae_secundario" name="cnae_secundario">
                </div>
                <div class="col-4">
                      <label for="bairro" class="form-label">Bairro</label>
                      <input type="text" class="form-control form-control-sm" id="bairro" name="bairro">
                </div>
                <div class="col-4">
                      <label for="cidade" class="form-label">Cidade</label>
                      <input type="text" class="form-control form-control-sm" id="cidade" name="cidade">
                </div>
                <div class="col-4">
                      <label for="uf" class="form-label">UF</label>
                      <select name="uf" id="uf" class="form-control form-control-sm">
                        {% for uf in ufs %}
                            <option value="{{uf.sigla}}">{{uf.nome}}</option>
                        {% endfor %}
                      </select>
                </div>

                <div class="col-12 mt-2">
                    <button type="submit" class="btn btn-primary card-top">
                        <i class="fas fa-sign-in-alt"></i>
                        CADASTRAR
                    </button>
                </div>
            </form>
        </div>

        <hr class="my-3">
        
        <div class="col-12 p-3">
            <table class="table table-sm table-hover">
                <thead>
                  <tr>
                    <th scope="col">Razão Social</th>
                    <th scope="col">CNPJ</th>
                    <th scope="col">Ramo</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefone</th>
                    <th scope="col" class="text-center">Tem Whatsapp?</th>
                    <th scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody>
                    {% for empresa in empresas %}
                        <tr>
                            <th scope="row">{{empresa.razao_social}}</th>
                            <td>{{empresa.cnpj}}</td>
                            <td>{{empresa.ramo}}</td>
                            <td>{{empresa.email}}</td>
                            <td>{{empresa.fone}}</td>
                            <td class="text-center">
                                {% if empresa.tem_zap %}
                                <i class="fas fa-thumbs-up"></i>
                                {% else %}
                                <i class="fas fa-times"></i>
                                {% endif %}
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button title="Clique aqui para abrir o menu" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-chevron-circle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a 
                                            class="dropdown-item"
                                            href="#"
                                            data-bs-toggle="modal" data-bs-target="#modalEditaEmpresa{{empresa.id}}"
                                            >
                                                <i class="fas fa-edit"></i>
                                                Editar
                                            </a>
                                        </li>
                                        <li>
                                            <form action="{% url 'excluir_empresa' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="empresa_id" value="{{empresa.id}}">
                                                <button 
                                                    onclick="return confirm('Confirma exclusão desta empresa?')"
                                                    type="submit"
                                                    class="dropdown-item">
                                                    <i class="fas fa-trash-alt"></i>
                                                    Excluir
                                                </button>
                                            </form>
                                        </li>
                                      
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        {% include 'perfis/modal_edita_empresa.html' %}
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            
            function mascaraCNPJ(cnpj) {
                cnpj = cnpj.replace(/\D/g, ""); // Remove tudo o que não é dígito
                
                // Limita o comprimento máximo para 14 dígitos antes de aplicar a máscara
                if (cnpj.length > 14) {
                    cnpj = cnpj.slice(0, 14);
                }
        
                // Formata o CNPJ
                cnpj = cnpj.replace(/^(\d{2})(\d)/, "$1.$2"); // Coloca ponto após os primeiros 2 dígitos
                cnpj = cnpj.replace(/^(\d{2})\.(\d{3})(\d)/, "$1.$2.$3"); // Coloca ponto após o segundo bloco de 3 dígitos
                cnpj = cnpj.replace(/\.(\d{3})(\d)/, ".$1/$2"); // Coloca barra após o terceiro bloco de 3 dígitos
                cnpj = cnpj.replace(/(\d{4})(\d)/, "$1-$2"); // Coloca hífen após o bloco de 4 dígitos
                return cnpj;
            }
        
            const cnpjInput = document.getElementById("cnpj");
            cnpjInput.addEventListener("input", function(e) {
                let valorFormatado = mascaraCNPJ(e.target.value);
                e.target.value = valorFormatado;
            });
        
            // Opção adicional: Limita o número de caracteres permitidos durante a entrada
            cnpjInput.addEventListener("keypress", function(e) {
                // Permitir apenas números e controlar o comprimento máximo
                if (e.key < '0' || e.key > '9') {
                    e.preventDefault();
                }
                
                if (cnpjInput.value.length >= 18) {
                    e.preventDefault();
                }
            });

            const phoneInputs = document.querySelectorAll('.foneInput');

            phoneInputs.forEach(function(input) {
              input.addEventListener('input', function(event) {
                let phone = event.target.value;
            
                // Remover todos os caracteres que não são números
                phone = phone.replace(/\D/g, '');
            
                // Limitar o telefone a no máximo 11 dígitos
                if (phone.length > 11) {
                  phone = phone.slice(0, 11);
                }
            
                // Aplicar a máscara do telefone
                if (phone.length > 2) {
                  phone = phone.replace(/^(\d{2})(\d{1,5})/, '($1) $2');
                }
                if (phone.length > 7) {
                  phone = phone.replace(/(\d{5})(\d{1,4})/, '$1-$2');
                } else if (phone.length > 5) {
                  phone = phone.replace(/(\d{5})$/, '-$1');
                }
            
                // Atualizar o valor do campo de entrada com a máscara aplicada
                event.target.value = phone;
              });
            });
        });
        </script>
        
        
{% endblock 'conteudo' %}