{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}
    Registros de Prospecções
{% endblock 'titulo' %}

<style>
    .copyable{
        cursor: pointer !important;
    }
</style>

{% block 'conteudo' %}
    <div class="card p-2 card-top">
        <h5 class="card-title h5 text-white">
            <i class="fas fa-chart-line"></i>
            REGISTRO E ACOMPANHAMENTO DE PROSPECÇÕES
        </h5>
    </div>

    {% include 'messages_alert.html' %}

    <div class="col-12 p-3">
        Buscar por Razão Social, Ramo:

        <hr class="my-2">

        <form 
            hx-post="{% url 'htmx_registros' %}" 
            method="post"
            hx-trigger="keyup"
            hx-target="#registros"
            hx-indicator="#loading-indicator"
            >
            {% csrf_token %}

            <label for="procurar">
                Procurar
            </label>
            <input 
                type="text" 
                class="form-control form-control-lg" 
                name="procurar" 
                id="procurar"
                placeholder="Digite um termo para procurar"
                >

            <!-- <button type="submit" class="btn btn-secondary mt-2">
                <i class="fas fa-search"></i>
                Procurar
            </button> -->
        </form>
    </div>
    <div class="row">
                  <!-- paginação -->
      <ul class="pagination pagination-sm mt-1">
        {% if empresas.has_previous %}
        <li class="page-item">
          <a
            class="page-link text-dark"
            href="?page={{ empresas.previous_page_number }}&itens_por_pagina={{itens_por_pagina}}&tab=5"
            >Anterior</a
          >
        </li>
        {% endif %} 
        {% for page in paginator.page_range %}
        <li
          class="page-item{% if page == paginator.number %} 
          active{% endif %}"
        >
          <a class="page-link text-dark" href="?page={{page}}&itens_por_pagina={{itens_por_pagina}}&tab=5"
            >{{ page }}</a
          >
        </li>
        {% endfor %} {% if empresas.has_next %}
        <li class="page-item">
          <a
            class="page-link text-dark"
            href="?page={{empresas.next_page_number}}&itens_por_pagina={{itens_por_pagina}}&tab=5"
            >Próximo</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="alert alert-light">
        Página {{ empresas.number }} de {{ paginator.num_pages }}.
    </div>
    <div id="registros">
        {% include 'htmx_registros.html' %}
    </div>
    


    <script>
        
    </script>

{% endblock 'conteudo' %}